* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.navbar, .hero-section{
  background-image: url(../img/Group19.png);
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  background-color: #ffffff;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.content-container {
  background-color: #ffffff;
  max-width: 75em;
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, #FFFFFF, F0F1FF); 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-top: 2.5em;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

#logo img {
  height: 1.75em;
  width: auto;
}

.navbar-btn button {
  background-color: #13183f;
  color: white;
  width: 10.4em;
  height: 3em;
  border: none;
  border-radius: 1.8em;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-btn button:hover {
  background-color: #666CA3;
}

.hero-section {
  display: flex;
}

.hero-text {
  margin-top: 11.5em;
}

.hero-text h1 {
  font-weight: 800; /* ExtraBold */
  font-size: 3rem;
  color: #13183f;
}

.hero-text p {
  font-weight: 400; /* Medium */
  font-size: 1.25rem;
  color: #83869a;
  padding-top: 1.25em;
}

.grad-btn1{
  width: 10.4em;
  height: 3.5em;
  border: none;
  border-radius: 1.8em;
  color: white;
  font-weight: 700;
  font-size: 1em;
  padding: 0.6rem 1.5rem;
  margin-top: 2.5em;
  background: linear-gradient(to bottom right, #FF6F48, #F02AA6);
}

.grad-btn1:hover {
  background: 
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
}

.cc{
  display: grid;
  gap: 10px 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4em;
  
}

.card, .main-left {
  min-height: 300px;
}

.main-left {
  background: linear-gradient(to bottom right, #FF6F48, #F02AA6);
  color: white;
}

.main-left h2{
  font-size: 2em;
  font-weight: bolder;
  color: white;
  justify-content: center;
}

.card {
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
  
.card h3 {
  font-size: 1.25rem;
  color: #13183f;
  }
  
.card p {
  color: #83869a;
  font-size: 1rem;
  flex-grow: 1;
}
  
.card a {
  color: #f74780;
  font-weight: bold;
  text-decoration: none;
}
  
.footer{
  background-color: #13183F;
  margin-top: 5.5em;
}

.footer ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  max-width: 75em;
  width: 80%;
  height: 7.5em;
  margin: 0 auto;
}

.footer-btn button{
  width: 10.4em;
  height: 3em;
  border: none;
  border-radius: 1.8em;
  color: white;
  font-weight: 700;
  font-size: 1em;
  background: linear-gradient(to bottom right, #4851FF, #F02AA6);
}