* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar, .hero-section{
  background-image: url(../img/Group19.png);
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  background-color: #ffffff;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 2.5em;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

#logo img {
  height: 1.75em;
  width: auto;
}

.navbar-button button {
  background-color: #13183f;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-button button:hover {
  background-color: #666ca3;
}

.hero-section {
  display: flex;
}

.hero-text {
  margin-left: 10em;
  margin-top: 11.5em;
}

.hero-text h1 {
  font-weight: 800; /* ExtraBold */
  font-size: 3rem;
  color: #13183f;
}

.hero-text p {
  font-weight: 400; /* Medium */
  font-size: 1.25rem;
  color: #83869a;
  padding-top: 1.25em;
}

.courses-container{
  max-width: 100%;
  width: 100%;
  height: auto;
  border: 1px solid #6d6d6d;
  padding-left: 10em;
}

.main-left{
  width: 350px;
  height: 322px;
  border-radius: 12px;
  background: #F02AA6FFA7C3; /* apply the gradient here #F02AA6 - FF6F48*/
}